/* aqui vendra los estilos de la */
.navbar {
    margin-bottom: 0;
}
.jumbotron {
    background:  #428BCA;
    color: #fff;
    padding: 20px 0;
}

/* MAIN */

.main {
    margin-top: 20px;
    margin-bottom: 20px;
}

/* GESTION */

.gestion {
    color:#428BCA;
}

.panel-buscador {
    padding-bottom: 50px;
}
